<div class="container body">
  <div class="row">
    <h4 class="btn-black">猫一覧</h4>
  </div>
  <div class="row">
    <% @cats.each do |cat| %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
          <div class="card-header">
            <%= image_tag cat.user.profile_image, class: "user-image-sm" %>
            <%= link_to cat.user.username, user_path(cat.user) %>
          </div>
          <div class="card-body image-header">
            <%= image_tag cat.profile_image, class: "cat-image" %>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center"><%= cat.name %></h5>
            <p class="card-text">自己紹介</p>
            <div class="card-text-contents">
              <p class="card-text"><%= simple_format(cat.introduction) %></p>
            </div>
            <p class="card-text">猫種: <%= cat.breed.name %></p>
            <p class="card-text">性別: <%= I18n.t("activerecord.attributes.cat.sexes.#{cat.sex}") %></p>
            <p class="card-text">
              誕生日:
              <% if cat.date_of_birth.present? %>
                <%= cat.date_of_birth %>
              <% else %>
                不明
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>