<% if message.user == current_user %>
  <div class="row mb-2 justify-content-end align-items-end" id="message_<%= message.id %>">
    <div class="col-auto message-col-right">
      <%= link_to message, url: messages_path, method: :delete, class: "message-delete", data: {confirm: "メッセージを削除しますか？"} do %>
        <div class="message-card-body">
          <span class="message"><%= simple_format(message.message) %></span>
        </div>
      <% end %>
    </div>
    <div class="col-auto">
      <div><%= image_tag message.user.profile_image, class: "user-image-sm" %></div>
      <div><%= message.created_at.strftime('%H:%M') %></div>
    </div>
  </div>
<% else %>
  <div class="row mb-2 align-items-end">
    <div class="col-auto">
      <div><%= image_tag message.user.profile_image, class: "user-image-sm" %></div>
      <div><%= message.created_at.strftime('%H:%M') %></div>
    </div>
    <div class="col-auto message-col-left">
      <div class="message-card-body">
        <span class="message"><%= simple_format(message.message) %></span>
      </div>
    </div>
  </div>
<% end %>