<div class="modal fade" id="add-item" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-item">アイテム追加</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: item, url: user_items_path do |f| %>
        <div class="modal-body">
            <div class="form-group">
              <%= f.label :製品名, class: "form-label" %>
              <%= f.text_field :name, class: "form-control", placeholder: "ごはん、おもちゃ、ブラシなど..." %>
            </div>
            <div class="form-group">
              <%= f.label :説明文, class: "form-label" %>
              <%= f.text_area :description, rows: 5, class: "form-control", placeholder: "よく食べてくれる！大好きなおもちゃ！など..." %>
            </div>
            <div class="form-group">
              <%= f.label :製品のリンク, class: "form-label" %>
              <%= f.text_field :product_link, class: "form-control", placeholder: "https://~(空白でも大丈夫です。)" %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-black" data-dismiss="modal">閉じる</button>
          <%= f.submit "追加", class: "btn-blue" %>
        </div>
      <% end %>
    </div>
  </div>
</div>