<div class="container body">
  <div class="row">
    <div class="col items-index">
      <button type="button" class="btn btn-primary add-new-item-btn" data-toggle="modal" data-target="#add-new-items">Launch demo modal</button>
      <%= render 'user/items/new_item', item: @item %>
      <div class="row items-index-row">
        <% @items.each do |item| %>
          <div class="col-md-5 items-box mx-auto">
            <%= item.name %>
            <%= item.description %>
            <%= link_to item.product_link, item.product_link, target: '_blank', rel: 'noopener noreferrer' %>
            <%= link_to "delete", user_item_path(user_id: current_user.id, id: item.id), method: :delete, data: {confirm: "are you sure?"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>