<div class="container body" data-user-id="<%= current_user.id %>">
  <div class="row">
    <h4 class="title-black"><%= @user.username %>'s Items</h4>
  </div>
  <div class="row">
    <div class="col-12">
      <% if @user == current_user %>
        <h5 type="button" class="btn-blue add-btn" data-toggle="modal" data-target="#add-item">アイテムを追加する</h5>
      <% end %>
      <div class="row infinite-page">
        <% @items.each do |item| %>
          <div class="col-md-6 col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text"><%= simple_format(item.description) %></p>
                <p class="card-text">
                  <%= link_to "製品ページへ移動", item.product_link, target: '_blank', rel: 'noopener noreferrer', data: {confirm: "実際の製品ページに移動します。よろしいですか？"}, class: "item-link-text" %>
                  <% if item.product_link.present? %>
                    <% preview = fetch_page_info(item.product_link) %>
                    <div class="url-preview">
                      <h4><%= preview[:title] %></h4>
                      <p><%= preview[:description] %></p>
                      <%= image_tag preview[:image], class: "item-image-preview" if preview[:image].present? %>
                    </div>
                  <% else %>
                    <p>リンクは登録されていません</p>
                  <% end %>
                </p>
                <p class="card-text text-right">
                  <% if @user == current_user %>
                    <button type="button" class="btn-green edit-item-btn" data-toggle="modal" data-target="#edit-item"
                      data-item-id="<%= item.id %>"
                      data-item-name="<%= item.name %>"
                      data-item-description="<%= item.description %>"
                      data-item-product_link="<%= item.product_link %>">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <%= link_to user_item_path(user_id: current_user.id, id: item.id), method: :delete, data: {confirm: "アイテムを削除しますか?"}, class: "btn-black" do %>
                      <i class="fa-solid fa-trash-can"></i>
                    <% end %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>
<%= render 'user/items/new_item', item: @item %>
<%= render 'user/items/edit_item', item: @item %>
<script>
  $(document).on('turbolinks:load', function () {
    if ($(".pagination a[rel=next]").length) {
      $('.infinite-page').infiniteScroll({
        path: ".pagination a[rel=next]",
        append: ".infinite-page",
        hideNav: "nav ul.pagination",
        history: false,
        scrollThreshold: true,
      });
    };
  });
</script>