<div class="container body">
  <div class="row">
    <h4><%= link_to "All Posts", all_posts_path, class: "btn-black" %></h4>
    <% if user_signed_in? %>
      <h4 type="button" class="btn-blue add-btn" data-toggle="modal" data-target="#new-post">新規投稿</h4>
      <%= render 'user/posts/new_post', post: @post %>
    <% end %>
  </div>
  <div class="row mt-2">
    <div class="col-lg-5 col-md-5">
      <%= form_with url: all_posts_path, method: :get do |f| %>
        <div class="form-group">
          <%= f.submit "タグ検索", class: "btn-blue" %>
        </div>
        <div class="form-group">
          <%= f.text_field :tag, class: "form-control", placeholder: "タグ..." %>
        </div>
      <% end %>
      <%= form_with url: searches_path, method: :get do |f| %>
        <div class="form-group">
          <%= f.submit "キーワード検索", class: "btn-blue" %>
        </div>
        <div class="form-group">
          <%= f.text_field :keyword, class: "form-control", placeholder: "投稿内容など..." %>
          <%= f.hidden_field :search_type, value: 'posts' %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-6 offset-lg-1 col-md-6 offset-md-1">
      <div class="row">
        <div class="col tag-reset-col">
          <p class="title-black">タグ一覧</p>
          <div><%= link_to "検索をリセット", all_posts_path, class: "btn-black" %></div>
        </div>
      </div>
      <div class="row">
        <div class="col all-posts-tags">
          <% @tags.each do |tag| %>
            <%= link_to "#{tag.name}", all_posts_path(tag: tag.name) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row infinite-page">
    <%= render partial: 'user/all_posts/post', collection: @posts %>
    <%= paginate @posts %>
  </div>
</div>
<script>
  $(document).on('turbolinks:load', function () {
    if ($(".pagination a[rel=next]").length) {
      $('.infinite-page').infiniteScroll({
        path: ".pagination a[rel=next]",
        append: ".infinite-page",
        hideNav: "nav ul.pagination",
        history: false,
        scrollThreshold: true,
      });
    };
  });
</script>