<div class="container body">
  <div class="row">
    <div class="col">
      <table class="table">
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= image_tag post.user.profile_image %></td>
              <td><%= link_to post.user.username, user_path(post.user) %></td>
              <td><%= image_tag post.post_image if post.post_image.present? %></td>
              <td><%= link_to post.title, post_path(post) %></td>
              <td><%= post.body %></td>
              <td>
                <% post.tags.each do |tag| %>
                  #<%= tag.name %>
                <% end %>
              </td>
              <td><i class="fa-solid fa-comment"></i> <%= post.comments.count %></td>
              <!--favorite-btn-->
              <td class=<%= "favorite-" + post.id.to_s %> ><%= render 'user/favorites/fav_btn', post: post %></td>
              <!--bookmark-btn-->
              <td id="bookmark_btn_<%= post.id %>"><%= render 'user/bookmarks/bookmark_btn', post: post %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>