<div class="container body">
  <div class="row">
    <h3 class="title-black">Admin ホーム</h3>
  </div>
  <div class="row mt-3">
    <h5><%= link_to "問い合わせ一覧へ", admin_contacts_path, class: "btn-black" %></h5>
  </div>
  <div class="row">
    <% @contacts.each do |contact| %>
      <div class="col-12 no-links-decoration">
        <%= link_to admin_contact_path(contact) do %>
          <div class="card">
            <div class="card-header">
              <% if contact.user_id.present? %>
                ユーザー名: <%= contact.user.username if contact.user.username.present? %>
              <% else %>
                <% if contact.name.present? %>
                  <p>名前: <%= contact.name %></p>
                  <p>メールアドレス: <%= contact.email %></p>
                <% else %>
                  <p>名前: 匿名</p>
                  <p>メールアドレス: <%= contact.email %></p>
                <% end %>
              <% end %>
            </div>
            <div class="card-body">
              <h6 class="card-title">
                件名: <%= contact.title %>
              </h6>
              <p class="card-text">
                内容: <%= simple_format(contact.body) %>
              </p>
              <p class="card-text">
                <%= contact.created_at.strftime('%Y/%m/%d') %>
                <%= contact.created_at.strftime('%H:%M') %>
              </p>
              <p class="card-text">
                <% if contact.is_checked == false %>
                  <span class="title-red">未対応</span>
                <% else %>
                  <span class="title-green">対応済み</span>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row mt-5">
    <h5><%= link_to "通報一覧へ", admin_reports_path, class: "btn-black" %></h5>
  </div>
  <div class="row">
    <% @reports.each do |report| %>
      <div class="col-12 no-links-decoration">
        <%= link_to admin_report_path(report) do %>
          <div class="card">
            <div class="card-header">
              <% if report.reportable %>
                <% case report.reportable_type %>
                  <% when 'User' %>
                    通報されたユーザー名: <%= report.reportable.username %>
                  <% when 'Post' %>
                    通報された投稿タイトル: <%= report.reportable.title %>
                  <% when 'Comment' %>
                    通報されたコメント: <%= report.reportable.body %>
                <% end %>
              <% else %>
                通報されたオブジェクトが見つかりません
              <% end %>
            </div>
            <div class="card-body">
              <p class="card-text">
                通報内容: <%= simple_format(report.reason) %>
              </p>
              <p class="card-text">
                <%= report.created_at.strftime('%Y/%m/%d') %>
                <%= report.created_at.strftime('%H:%M') %>
              </p>
              <p class="card-text">
                <% if report.processed == false %>
                  <span class="title-red">未対応</span>
                <% else %>
                  <span class="title-green">対応済み</span>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>