<div class="container body">
  <div class="row">
    <div class="col-12 text-center">
      <% if @user.is_active == false %>
        <h4 class="title-red">ユーザーの利用を制限しております<br>お手数ですがサイドバー(Contact Us)より連絡をお願いします</h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <!--切り替えボタン-->
    <div class="col-12">
      <div class="row switch-buttons-row">
        <div class="switch-buttons">
          <% if @user == current_user %>
            <button id="show-mypage" class="btn-switch active">My Info</button>
            <button id="show-posts" class="btn-switch">My Posts</button>
          <% else %>
            <button id="show-mypage" class="btn-switch active"><%= @user.username %>'s Info</button>
            <button id="show-posts" class="btn-switch"><%= @user.username %>'s Posts</button>
          <% end %>
        </div>
      </div>
    </div>
    <div id="mypage-section" class="col-12 content-section active">
      <!--マイインフォメーション-->
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body card-header-user">
              <div class="user-image-section">
                <%= image_tag @user.profile_image, class: "user-image" %>
                <h4><%= @user.username %></h4>
              </div>
              <div class="follow-chat-section">
                <% if current_user != @user %>
                  <% if current_user.following?(@user) %>
                    <%= link_to "Following", user_relationships_path(@user.id), method: :delete, class: "btn-black" %>
                  <% else %>
                    <%= link_to "Follow", user_relationships_path(@user.id), method: :post, class: "btn-black" %>
                  <% end %>
                  <% if current_user.mutual_follow?(@user) %>
                    <%= link_to message_path(@user.id) do %>
                      <i class="fa-solid fa-square-envelope dm-icon"></i>
                    <% end %>
                  <% end %>
                  <button type="button" class="btn-black" data-toggle="modal" data-target="#report-user">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                  </button>
                  <%= render 'user/users/report', report: @report, user: @user %>
                <% else %>
                  <button type="button" class="btn-green" data-toggle="modal" data-target="#userinfo-edit">
                    <i class="fa-solid fa-user-pen"></i>
                  </button>
                  <%= render 'user/users/user_edit', user: @user %>
                <% end %>
              </div>
              <div class="follow-counts">
                Following: <%= @user.following.count %><br>
                Followers: <%= @user.followers.count %>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">
                <% if @user.introduction.present? %>
                  <%= simple_format(@user.introduction) %>
                <% else %>
                  まだ自己紹介が登録されていません
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <!--猫さん＄アイテム-->
      <div class="row">
        <!--猫さんセクション-->
        <div class="col-lg-6">
          <div class="row">
            <div class="col">
              <div class="title-btn-section mt-5">
                <h5><%= link_to "猫一覧へ", user_cats_path(@user), class: "btn-blue" %></h5>
              </div>
            </div>
          </div>
          <div class="row">
            <% if @user.cats.present? %>
              <% @user.cats.take(2).each do |cat| %>
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body image-header">
                      <%= image_tag cat.cat_image, class: "cat-image" if cat.cat_image.present? %>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"><%= cat.name %></h5>
                      <p class="card-text"><%= simple_format(cat.introduction) %></p>
                      <p class="card-text"><%= cat.breed.name %></p>
                      <p class="card-text"><%= I18n.t("activerecord.attributes.cat.sexes.#{cat.sex}") %></p>
                      <p class="card-text"><%= cat.date_of_birth %></p>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="col">
                <div class="card">
                  <div class="card-body text-center">
                    <p class="card-text">まだ登録されていません</p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!--マイ製品セクション-->
        <div class="col-lg-6">
          <div class="row">
            <div class="col">
              <div class="title-btn-section mt-5">
                <h5><%= link_to "アイテム一覧へ", user_items_path(@user), class: "btn-blue" %></h5>
              </div>
            </div>
          </div>
          <div class="row">
            <% if @user.items.present? %>
              <% @user.items.take(2).each do |item| %>
                <div class="col-lg-6">
                  <div class="card border-0">
                    <div class="card-body">
                      <h5 class="card-title"><%= item.name %></h5>
                      <p class="card-text"><%= item.description %></p>
                      <p class="card-text"><%= item.product_link %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="col">
                <div class="card">
                  <div class="card-body text-center">
                    <p class="card-text">まだ登録されていません</p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="posts-section" class="col-12 content-section">
      <!--タイトル・リンク-->
      <div class="row">
        <div class="col-12">
          <div class="title-btn-section mt-3">
            <h4><%#= link_to "All Posts", user_posts_path(@user), class: "btn-black" %></h4>
            <h4 type="button" class="btn-blue add-btn" data-toggle="modal" data-target="#new-post">新規投稿</h4>
            <%= render 'user/posts/new_post', post: @post %>
          </div>
        </div>
      </div>
      <!--投稿each文-->
      <div class="row">
        <% if @posts.present? %>
          <% @posts.each do |post| %>
            <div class="col-12">
              <div class="card">
                <div class="card-header card-header-time">
                  <span>
                    <%= image_tag post.user.profile_image, class: "user-image-sm" %>
                    <%= link_to post.user.username, user_path(post.user) %>
                  </span>
                  <span><%= time_ago_with_suffix(post.created_at) %></span>
                </div>
                <% if post.post_image.count > 1 %>
                  <div id="carousel<%= post.id %>" class="carousel slide" data-ride="false">
                    <div class="carousel-inner">
                      <% post.post_image.each_with_index do |image, index| %>
                        <div class="carousel-item <%= 'active' if index == 0 %>">
                          <a href="#" data-toggle="modal" data-target="#imageModal<%= post.id %><%= index %>">
                            <%= image_tag(image, class: "d-block w-100") if image.present? %>
                          </a>
                          <div class="carousel-thumbnails">
                            <% post.post_image.each_with_index do |image, index| %>
                              <img src="<%= url_for(image) %>" class="img-thumbnail" data-target="#carousel<%= post.id %>" data-slide-to="<%= index %>">
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carousel<%= post.id %>" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carousel<%= post.id %>" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </button>
                  </div>
                <% else %>
                  <% post.post_image.each do |image| %>
                    <a href="#" data-toggle="modal" data-target="#singleImageModal<%= post.id %>">
                      <%= image_tag image, class: "w-100" if image.present? %>
                    </a>
                  <% end %>
                <% end %>
                <div class="card-body">
                  <h6 class="card-title"><%= link_to post.title, user_post_path(post.user, post) %></h6>
                  <div class="card-text-contents">
                    <p class="card-text"><%= simple_format(post.body) %></p>
                  </div>
                  <p class="card-text">
                    <div class="post-tags">
                      tag:
                      <% post.tags.each do |tag| %>
                        <%= link_to "#{tag.name}", all_posts_path(tag: tag.name) %>
                      <% end %>
                    </div>
                  </p>
                  <p class="card-text">
                    <% if user_signed_in? %>
                      <p class="card-text">
                        <i class="fa-solid fa-comment"></i> <%= post.comments.count %>
                        <span class=<%= "favorite-" + post.id.to_s %> ><%= render 'user/favorites/fav_btn', post: post %></span>
                        <span id="bookmark_btn_<%= post.id %>"><%= render 'user/bookmarks/bookmark_btn', post: post %></span>
                      </p>
                    <% end %>
                  </p>
                  <p class="card-text">
                    <%= post.created_at.strftime('%Y/%m/%d') %>
                    <%= post.created_at.strftime('%H:%M') %>
                  </p>
                  <p class="card-text text-right">
                    <% if @user == current_user %>
                      <button type="button" class="btn-green edit-post-btn" data-toggle="modal" data-target="#edit-post"
                      data-post-id="<%= post.id %>"
                      data-post-title="<%= post.title %>"
                      data-post-body="<%= post.body %>"
                      data-post-tags="<%= post.tags.map(&:name).join(' ') %>">
                        <i class="fa-solid fa-pen-to-square"></i>
                      </button>
                      <% if @user == current_user %>
                        <%= link_to user_post_path(post.user, post.id), method: :delete, data: {confirm: "投稿を削除しますか?"}, class: "btn-black" do %>
                          <i class="fa-solid fa-trash-can"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
            <%= render 'user/posts/edit_post', post: post %>
            <%= render 'user/all_posts/image_modal', post: post %>
            <%= render 'user/all_posts/images_modal', post: post %>
          <% end %>
        <% else %>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <p class="card-text">まだ投稿がありません</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row mt-4 justify-content-center">
        <h5>
          <%= link_to user_posts_path(@user), class: "btn-black" do %>
            すべての投稿を見る
          <% end %>
        </h5>
      </div>
    </div>
  </div>
</div>