<div class="container body">
  <div class="row">
    <div class="col-md-5 user-info-section">
      <!--名前と写真-->
      <div class="row">
        <div class="col-md-10 mx-auto user-profile-section">
          <h3>My Page</h3>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userinfo-edit">
            Launch demo modal
          </button>
          <div class="modal fade" id="userinfo-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editing My Page</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= form_with model: @user do |f| %>
                  <div class="modal-body">
                      <div class="form-group">
                        <%= f.label :username %>
                        <%= f.text_field :username, placeholder: "Your Username..." %>
                      </div>
                      <div class="form-group">
                        <%= f.label :profileImage %>
                        <%= f.file_field :user_image %>
                      </div>
                      <div class="form-group">
                        <%= f.label :introduction %>
                        <%= f.text_area :introduction, placeholder: "Your Introduction..." %>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= f.submit %>
                  </div>
                <% end %>
                <!--<div class="modal-footer">-->
                <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--  <button type="button" class="btn btn-primary">Save changes</button>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <%= image_tag @user.profile_image, class: "user-profile-picture" %>
          <h4><%= @user.username %>さん</h4>
        </div>
      </div>
      <!--自己紹介文-->
      <div class="row">
        <div class="col-md-10 mx-auto user-introduction-section">
          <h3>introduction</h3>
          <%= @user.introduction %>
        </div>
      </div>
      <!--フォロー関係-->
      <div class="row">
        <div class="col-md-10 mx-auto user-cats-section">
          <% if current_user != @user %>
            <% if current_user.following?(@user) %>
              <%= link_to "unfollow", user_relationships_path(@user.id), method: :delete %>
            <% else %>
              <%= link_to "follow", user_relationships_path(@user.id), method: :post %>
            <% end %>
          <% end %>
        </div>
      </div>
      <!--マイキャット一覧-->
      <div class="row">
        <div class="col-md-10 mx-auto user-cats-section">
          <%= link_to "my cats", user_cats_path(@user), class: "btn btn-info" %>
        </div>
      </div>
      <!--マイ製品一覧-->
      <div class="row">
        <div class="col-md-10 mx-auto user-items-section">
          <%= link_to "my items", user_items_path(@user), class: "btn btn-info" %>
        </div>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <% @posts.each do |post| %>
        <%= image_tag post.post_image if post.post_image.present? %>
        <%= post.title %>
        <%= post.body %>
      <% end %>
      <%= link_to "my posts", posts_path(@user) %>
    </div>
  </div>
</div>