<div class="container body">
  <div class="row">
    <!--切り替えボタン-->
    <div class="col-12">
      <div class="row switch-buttons-row">
        <div class="switch-buttons">
          <button id="show-mypage" class="btn-switch active">マイページ</button>
          <button id="show-posts" class="btn-switch">投稿一覧</button>
        </div>
      </div>
    </div>
    <div id="mypage-section" class="col-12 contents-bg content-section active">
      <!--マイインフォメーション-->
      <div class="row">
        <div class="col-12">
          <div class="title-btn-section">
            <% if !@user == current_user %>
              <h5 class="title-blue"><%= @user.username %></h5>
            <% end %>
            <% if current_user != @user %>
              <button type="button" class="btn-black" data-toggle="modal" data-target="#report-user">
                通報する
              </button>
            <% else %>
              <button type="button" class="btn-green" data-toggle="modal" data-target="#userinfo-edit">
                編集
              </button>
            <% end %>
            <%= render 'user/users/report', report: @report, user: @user %>
            <%= render 'user/users/user_edit', user: @user %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body card-header-user">
              <div class="user-image-section">
                <%= image_tag @user.profile_image, class: "user-image" %>
                <h4><%= @user.username %></h4>
              </div>
              <div class="follow-chat-section">
                <% if current_user != @user %>
                  <% if current_user.following?(@user) %>
                    <%= link_to "Following", user_relationships_path(@user.id), method: :delete, class: "btn-black" %>
                  <% else %>
                    <%= link_to "Follow", user_relationships_path(@user.id), method: :post, class: "btn-black" %>
                  <% end %>
                  <% if current_user.mutual_follow?(@user) %>
                    <%= link_to message_path(@user.id) do %>
                      <i class="fa-solid fa-square-envelope dm-icon"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="follow-counts">
                Following: <%= @user.following.count %><br>
                Followers: <%= @user.followers.count %>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">
                <% if @user.introduction.present? %>
                  <%= simple_format(@user.introduction) %>
                <% else %>
                  まだ自己紹介が登録されていません
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <!--猫さん＄アイテム-->
      <div class="row">
        <!--猫さんセクション-->
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <div class="title-btn-section mt-5">
                <h5><%= link_to "猫一覧へ", user_cats_path(@user), class: "btn-blue" %></h5>
              </div>
            </div>
          </div>
          <div class="row">
            <% if @user.cats.present? %>
              <% @user.cats.take(2).each do |cat| %>
              <div class="col-6">
                <div class="card">
                  <div class="card-body cat-image-header">
                    <%= image_tag cat.cat_image, class: "cat-image" if cat.cat_image.present? %>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= cat.name %></h5>
                    <p class="card-text"><%= simple_format(cat.introduction) %></p>
                    <p class="card-text"><%= cat.breed.name %></p>
                    <p class="card-text"><%= I18n.t("activerecord.attributes.cat.sexes.#{cat.sex}") %></p>
                    <p class="card-text"><%= cat.date_of_birth %></p>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
              <% end %>
            <% else %>
              <div class="col">
                <div class="card">
                  <div class="card-body text-center">
                    <p class="card-text">まだ登録されていません</p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!--マイ製品セクション-->
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <div class="title-btn-section mt-5">
                <h5><%= link_to "アイテム一覧へ", user_items_path(@user), class: "btn-blue" %></h5>
              </div>
            </div>
          </div>
          <div class="row">
            <% if @user.items.present? %>
              <% @user.items.take(2).each do |item| %>
                <div class="col-6">
                  <div class="card border-0">
                    <div class="card-body">
                      <h5 class="card-title"><%= item.name %></h5>
                      <p class="card-text"><%= item.description %></p>
                      <p class="card-text"><%= item.product_link %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="col">
                <div class="card">
                  <div class="card-body text-center">
                    <p class="card-text">まだ登録されていません</p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="posts-section" class="col-12 contents-bg content-section">
      <!--タイトル・リンク-->
      <div class="row">
        <div class="col-12">
          <div class="title-btn-section mt-3">
            <h5><%= link_to "投稿一覧へ", user_posts_path(@user), class: "btn-blue" %></h5>
          </div>
        </div>
      </div>
      <!--投稿each文-->
      <div class="row">
        <% if @posts.present? %>
          <% @posts.take(4).each do |post| %>
            <div class="col-md-6">
            <%#= link_to post_path(post), class: "no-style-link" do %>
              <div class="card">
                <%= image_tag post.post_image if post.post_image.present? %>
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <!--simple_formatで改行反映-->
                  <p class="card-text"><%= simple_format(post.body) %></p>
                  <p class="card-text">
                    tag:
                    <% post.tags.each do |tag| %>
                      <%= tag.name %>
                    <% end %>
                  </p>
                  <p class="card-text">
                    <i class="fa-solid fa-heart icon-spacing"></i><%= post.favorites.count %>
                    <i class="fa-solid fa-comment icon-spacing"></i><%= post.comments.count %>
                  </p>
                  <p class="card-text">
                    <%= link_to '投稿詳細へ', user_post_path(user_id: post.user.id, id: post.id) %>
                    <%= post.created_at.strftime('%Y/%m/%d') %>
                    <%= post.created_at.strftime('%H:%M') %>
                  </p>
                </div>
              </div>
            <%# end %>
            </div>
          <% end %>
        <% else %>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <p class="card-text">まだ投稿がありません</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>