<div class="container body">
  <div class="row">
    <h4 class="title-black">Connections</h4>
  </div>
  <div class="row mt-4">
    <button id="following-results" class="btn-switch active">Following(<%= @following.count %>)</button>
    <button id="followers-results" class="btn-switch">Followers(<%= @followers.count %>)</button>
  </div>
  <div id="following-results-section" class="follow-results-section active">
    <div class="row mt-3">
      <!--<h5 class="title-black">フォロー</h5>-->
    </div>
    <div class="row infinite-page">
      <% if @following.present? %>
        <% @following.each do |user| %>
          <div class="col-lg-3 col-md-4">
            <div class="card">
              <div class="card-body image-header">
                <%= image_tag user.profile_image, class: "user-image" %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= link_to user.username, user_path(user) %></h5>
                <div class="card-text-contents">
                  <% if user.introduction.present? %>
                    <p class="card-text"><%= simple_format(user.introduction) %></p>
                  <% else %>
                    <p class="card-text">自己紹介文が登録されていません</p>
                  <% end %>
                </div>
                <p class="card-text">登録猫数: <%= user.cats.count %></p>
                <p class="card-text">登録アイテム数: <%= user.items.count %></p>
                <p class="card-text">投稿数: <%= user.posts.count %></p>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @following %>
      <% end %>
    </div>
  </div>
  <div id="followers-results-section" class="follow-results-section">
    <div class="row mt-3">
      <!--<h5 class="title-black">フォロワー</h5>-->
    </div>
    <div class="row infinite-page">
      <% if @followers.present? %>
        <% @followers.each do |user| %>
          <div class="col-lg-3 col-md-4">
            <div class="card">
              <div class="card-body image-header">
                <%= image_tag user.profile_image, class: "user-image" %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= link_to user.username, user_path(user) %></h5>
                <div class="card-text-contents">
                  <% if user.introduction.present? %>
                    <p class="card-text"><%= simple_format(user.introduction) %></p>
                  <% else %>
                    <p class="card-text">自己紹介文が登録されていません</p>
                  <% end %>
                </div>
                <p class="card-text">登録猫数: <%= user.cats.count %></p>
                <p class="card-text">登録アイテム数: <%= user.items.count %></p>
                <p class="card-text">投稿数: <%= user.posts.count %></p>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @followers %>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).on('turbolinks:load', function () {
    if ($(".pagination a[rel=next]").length) {
      $('.infinite-page').infiniteScroll({
        path: ".pagination a[rel=next]",
        append: ".infinite-page",
        hideNav: "nav ul.pagination",
        history: false,
        scrollThreshold: true,
      });
    };
  });
</script>