<%= form_with model: comment, url: user_post_comments_path(user_id: current_user.id, post_id: post.id), method: :post do |f| %>
  <div class="form-group">
    <%= f.text_area :body, rows: '5', placeholder: 'Comment here...', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "コメント", class: "btn-green" %>
  </div>
<% end %>
<% post.comments.each do |comment| %>
  <div class="card">
    <div class="card-header">
      <%= image_tag comment.user.profile_image, class: "user-image-md" %>
      <%= comment.user.username %>
    </div>
    <div class="card-body">
      <%= simple_format(comment.body) %>
      <%= comment.created_at.strftime('%y/%m/%d') %>
      <%= comment.created_at.strftime('%H:%M') %>
      <% if comment.user == current_user %>
        <%= link_to user_post_comment_path(user_id: current_user.id, post_id: post.id, id: comment.id), method: :delete, data: {confirm: "コメントを削除しますか？"}, class: "btn-black" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      <% else %>
        <button type="button" class="btn-black" data-toggle="modal" data-target="#report-comment">
          <i class="fa-solid fa-triangle-exclamation"></i>
        </button>
      <% end %>
    </div>
  </div>
<div class="modal fade" id="report-comment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">通報する</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: report, url: user_reports_path(user_id: current_user.id) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.hidden_field :reportable_id, value: comment.id %>
            <%= f.hidden_field :reportable_type, value: 'Comment' %>
          </div>
          <div class="form-group">
            <%= f.text_area :reason, rows: 3, placeholder: "コメントの通報理由や内容を記入してください", class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn-black" data-dismiss="modal">閉じる</button>
          <%= f.submit '通報', class: "btn-black" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>