<%# if current_user != post.user %>
  <%= form_with model: comment, url: post_comments_path(post), method: :post do |f| %>
    <%= f.text_area :body, rows: '5', placeholder: 'Comment here...' %>
    <%= f.submit %>
  <% end %>
  <% post.comments.each do |comment| %>
    <%= image_tag comment.user.profile_image %>
    <%= comment.user.username %>
    <%= comment.body %>
    <%= comment.created_at.strftime('%y/%m/%d') %>
    <%= link_to 'Delete', post_comment_path(post, comment), method: :delete if comment.user == current_user %>
    <div class="comment-report-form">
      コメントの通報
      <%= form_with model: report, url: user_reports_path(current_user) do |f| %>
        <%= f.hidden_field :reportable_id, value: comment.id %>
        <%= f.hidden_field :reportable_type, value: 'Comment' %>
        <%= f.text_area :reason, placeholder: "通報理由" %>
        <%= f.submit '通報する' %>
      <% end %>
    </div>
  <% end %>
<%# end %>

