<div class="container body">
  <div class="row">
    <h3 class="title-black">通報</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <% if @report.reportable %>
            <% case @report.reportable_type %>
              <% when 'User' %>
                通報されたユーザー名: <%= @report.reportable.username %>
              <% when 'Post' %>
                通報された投稿タイトル: <%= r@eport.reportable.title %>
              <% when 'Comment' %>
                通報されたコメント: <%= @report.reportable.body %>
            <% end %>
          <% else %>
            通報されたオブジェクトが見つかりません
          <% end %>
        </div>
        <div class="card-body">
          <p class="card-text">
            通報内容: <%= simple_format(@report.reason) %>
          </p>
          <p class="card-text">
            <%= @report.created_at.strftime('%Y/%m/%d') %>
            <%= @report.created_at.strftime('%H:%M') %>
          </p>
          <p class="card-text">
            <% if @report.processed == false %>
              <%= link_to "未対応", admin_report_path(@report), method: :patch, class: "btn-red" %>
            <% else %>
              <%= link_to "対応済み", admin_report_path(@report), method: :patch, class: "btn-green" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>