<div class="form-box login">
  <h2>Login</h2>
  <div id="login-error-messages" class="error-messages"></div>
  <%= form_with model: user, url: user_session_path, method: :post, local: false, id: "login-form" do |f| %>
    <div class="input-box">
      <span class="icon"><i class="fa-solid fa-user"></i></span>
      <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
      <%= f.label :username %>
    </div>
    <div class="input-box">
      <span class="icon"><i class="fa-solid fa-lock"></i></span>
      <div id="login-error-messages" class="error-messages"></div>
      <%= f.password_field :password, autocomplete: "current-password" %>
      <%= f.label :password %>
    </div>
    <% if @devise_mapping.rememberable? %>
      <div class="remember-forgot">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <% if @devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(@resource_name) %>
        <% end %>
      </div>
    <% end %>
    <%= f.submit "ログイン", class: "login-btn" %>
    <%= link_to "ゲスト", users_guest_sign_in_path, method: :post, class: "guest-btn" %>
    <div class="login-register">
      <p>アカウントをお持ちでない方は<a class="register-link">こちら!</a></p>
    </div>
  <% end %>
</div>