<div class="modal fade" id="edit-post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">投稿編集</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: post, url: '#', html: { id: 'edit-post-form' }, method: :patch do |f| %>
        <div class="modal-body">
            <div class="form-group">
              <%= f.label :タイトル, class: "form-label" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :内容, class: "form-label" %>
              <%= f.text_area :body, rows: 5, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label 'タグ (スペースで区切ってください)', class: "form-label" %>
              <%= f.text_field :tag_list, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :写真, class: "form-label" %>
              <div class="custom-file">
                <%= f.file_field :post_image, multiple: true, accept: 'image/*', class: "custom-file-input image_upload" %>
                <%= f.label "ファイルを選択", class: "btn-black custom-file-button" %>
              </div>
              <div id="image_preview_container"></div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-black" data-dismiss="modal">Close</button>
          <%= f.submit "編集する", class: "btn-blue" %>
        </div>
      <% end %>
    </div>
  </div>
</div>