<div class="container body">
  <div class="row">
    <%= render 'layouts/error_messages', obj: @post %>
  </div>
  <div class="row">
    <div class="col items-index">
      <button type="button" class="btn btn-primary new-post-btn" data-toggle="modal" data-target="#new-post">Launch demo modal</button>
      <%= render 'user/posts/new_post', post: @post %>
      <div class="row items-index-row">
        <% @posts.each do |post| %>
          <div class="col-md-5 items-box mx-auto">
            <%= image_tag post.post_image if post.post_image.present? %>
            <%= post.title %>
            <%= post.body %>
            <% if post.tags.any? %>
              <div class="post-tags">
                tag:
                <% post.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              </div>
            <% end %>
            <%= link_to "delete", user_post_path(user_id: current_user.id, id: post.id), method: :delete, data: {confirm: "are you sure?"} if post.id.present? %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>