<div class="container body" data-user-id="<%= current_user.id %>">
  <div class="row">
    <h4 class="title-black"><%= @user.username %>'s Posts</h4>
  </div>
  <div class="row items-index-row infinite-page">
    <% @posts.each do |post| %>
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-time">
            <span>
              <%= image_tag post.user.profile_image, class: "user-image-sm" %>
              <%= link_to post.user.username, user_path(post.user) %>
            </span>
            <span><%= time_ago_with_suffix(post.created_at) %></span>
          </div>
          <% if post.post_image.count > 1 %>
            <div id="carousel<%= post.id %>" class="carousel slide" data-ride="false">
              <div class="carousel-inner">
                <% post.post_image.each_with_index do |image, index| %>
                  <div class="carousel-item <%= 'active' if index == 0 %>">
                    <a href="#" data-toggle="modal" data-target="#imageModal<%= post.id %><%= index %>">
                      <%= image_tag(image, class: "d-block w-100") if image.present? %>
                    </a>
                    <div class="carousel-thumbnails">
                      <% post.post_image.each_with_index do |image, index| %>
                        <img src="<%= url_for(image) %>" class="img-thumbnail" data-target="#carousel<%= post.id %>" data-slide-to="<%= index %>">
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-target="#carousel<%= post.id %>" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-target="#carousel<%= post.id %>" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </button>
            </div>
          <% else %>
            <% post.post_image.each do |image| %>
              <a href="#" data-toggle="modal" data-target="#singleImageModal<%= post.id %>">
                <%= image_tag image, class: "w-100" if image.present? %>
              </a>
            <% end %>
          <% end %>
          <div class="card-body">
            <h6 class="card-title"><%= link_to post.title, user_post_path(post.user, post) %></h6>
            <div class="card-text-contents">
              <p class="card-text"><%= simple_format(post.body) %></p>
            </div>
            <p class="card-text">
              <div class="post-tags">
                tag:
                <% post.tags.each do |tag| %>
                  <%= link_to "#{tag.name}", all_posts_path(tag: tag.name) %>
                <% end %>
              </div>
            </p>
            <p class="card-text">
              <% if user_signed_in? %>
                <p class="card-text">
                  <i class="fa-solid fa-comment"></i> <%= post.comments.count %>
                  <span class=<%= "favorite-" + post.id.to_s %> ><%= render 'user/favorites/fav_btn', post: post %></span>
                  <span id="bookmark_btn_<%= post.id %>"><%= render 'user/bookmarks/bookmark_btn', post: post %></span>
                </p>
              <% end %>
            </p>
            <p class="card-text">
              <%= post.created_at.strftime('%Y/%m/%d') %>
              <%= post.created_at.strftime('%H:%M') %>
            </p>
            <p class="card-text text-right">
              <% if @user == current_user %>
                <button type="button" class="btn-green edit-post-btn" data-toggle="modal" data-target="#edit-post"
                data-post-id="<%= post.id %>"
                data-post-title="<%= post.title %>"
                data-post-body="<%= post.body %>"
                data-post-tags="<%= post.tags.map(&:name).join(' ') %>">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <% if @user == current_user %>
                  <%= link_to user_post_path(post.user, post), method: :delete, data: {confirm: "投稿を削除しますか?"}, class: "btn-black" do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <%= render 'user/all_posts/image_modal', post: post %>
      <%= render 'user/all_posts/images_modal', post: post %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
<% if @user == current_user %>
  <h4 type="button" class="btn-blue add-btn" data-toggle="modal" data-target="#new-post">新規投稿</h4>
<% end %>
<%= render 'user/posts/new_post', post: @post %>
<%= render 'user/posts/edit_post', post: @post %>
<script>
  $(document).on('turbolinks:load', function () {
    if ($(".pagination a[rel=next]").length) {
      $('.infinite-page').infiniteScroll({
        path: ".pagination a[rel=next]",
        append: ".infinite-page",
        hideNav: "nav ul.pagination",
        history: false,
        scrollThreshold: true,
      });
    };
  });
</script>