<div class="container body">
  <div class="row">
    <div class="col">
      <%# if current_user.id != @post.user.id %>
        <%= image_tag @post.user.profile_image %>
        <%= @post.user.username %>
      <%# end %>
      <%= @post.title %>
      <%= @post.body %>
      <% if @post.tags.any? %>
        <div class="post-tags">
          <% @post.tags.each do |tag| %>
            <%= link_to "#{tag.name}", all_posts_path(tag: tag.name) %>
          <% end %>
        </div>
      <% end %>
      <%= image_tag @post.post_image if @post.post_image.present? %>
      <%= render 'user/comments/new_comment', comment: @comment, post: @post, report: @report %>
      <!--report-->
      投稿の通報
      <%= form_with model: @report, url: user_reports_path(current_user) do |f| %>
        <%= f.hidden_field :reportable_id, value: @post.id %>
        <%= f.hidden_field :reportable_type, value: 'Post' %>
        <%= f.text_area :reason, placeholder: "通報理由" %>
        <%= f.submit '通報する' %>
      <% end %>
    </div>
  </div>
</div>