<div class="modal fade" id="edit-cat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-cat">猫さんの編集</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: cat, url: '#', html: { id: 'edit-cat-form' }, method: :patch do |f| %>
        <div class="modal-body">
            <div class="form-group">
              <%= f.label :猫の名前, class: "control-label" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :猫の写真, class: "control-label" %>
              <div class="custom-file">
                <%= f.file_field :cat_image, class: "custom-file-input edit_image_upload" %>
                <%= f.label "ファイルを選択", class: "btn-black custom-file-button" %>
              </div>
              <div id="edit_image_preview_container"></div>
            </div>
            <div class="form-group">
              <%= f.label :紹介文, class: "control-label" %>
              <%= f.text_area :introduction, rows: 5, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :猫種, class: "control-label" %>
              <%= f.collection_select :breed_id, Breed.all, :id, :name, { include_blank: '選択してください' }, { class: "form-control" } %>
            </div>
            <div class="form-group">
              <%= f.label :性別, class: "control-label" %>
              <%= f.select :sex, Cat.sexes.keys.map { |k| [I18n.t("activerecord.attributes.cat.sexes.#{k}"), k] }, { include_blank: '選択してください' }, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :誕生日, class: "control-label" %>
              <%= f.date_field :date_of_birth, class: "form-control" %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-black" data-dismiss="modal">Close</button>
          <%= f.submit "編集", class: "btn-green" %>
        </div>
      <% end %>
    </div>
  </div>
</div>