<div class="container body">
  <div class="row notifications-row">
    <h3 class="title-black">Notifications</h3>
    <h5><%= link_to '全て既読にする', mark_as_read_notifications_path, method: :patch, class: "btn-green" %></h5>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md- mx-auto">
      <% if @notifications.any? %>
        <ul>
          <% @notifications.each do |notification| %>
            <div class="card">
              <div class="card-header">
                <%= image_tag notification.visitor.profile_image, class: "user-image-sm" %>
                <%= link_to notification.visitor.username, user_path(notification.visitor) %>
                さんが
              </div>
              <div class="card-body">
                <% case notification.action %>
                  <% when 'commented' %>
                  <p class="card-text">
                    <%= link_to '投稿にコメントしました', user_post_path(user_id: notification.notifiable.post.user_id, id: notification.notifiable.post.id) %>
                    <%= simple_format(notification.notifiable.body) %>
                  </p>
                  <% when 'liked' %>
                  <p class="card-text">
                    <%= link_to '投稿にいいねしました', user_post_path(user_id: notification.notifiable.post.user_id, id: notification.notifiable.post.id) %>
                  </p>
                  <% when 'followed' %>
                  <p class="card-text">
                    あなたをフォローしました
                  </p>
                  <% when 'messaged' %>
                  <p class="card-text">
                    <%= link_to 'メッセージを送信しました', message_path(notification.visitor_id) %>
                    <%= simple_format(notification.notifiable.message) %>
                  </p>
                <% end %>
                <p class="card-text text-right">
                  <%= notification.created_at.strftime("%H:%M") %>
                  <% if notification.checked %>
                    <span>既読</span>
                  <% else %>
                    <%= link_to '既読にする', notification_path(notification), method: :patch, class: 'btn-green' %>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        </ul>
      <% else %>
        <p>新しい通知はありません</p>
      <% end %>
    </div>
  </div>
</div>