<div class="container-fluid">
  <div class="row">
    <header class="header">
      <%= link_to "Logo", root_path, class: "header-logo" %>
      <div id="nav-section">
        <nav>
          <div class="nav-inner">
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", root_path %></li>
              <li><%= link_to "Gallary", root_path %></li>
              <li><%= link_to "Post", root_path %></li>
              <li><%= link_to "Map", root_path %></li>
            </ul>
          </div>
        </nav>
        <div class="toggle-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </header>
  </div>
</div>