<aside class="sidebar">
  <div class="logo">
    <%= image_tag "cplogo.png" %>
    <h2>CatParadise</h2>
  </div>
  <% if user_signed_in? %>
    <ul class="links">
      <hr>
      <h4>Main Menu</h4>
      <li>
        <span><i class="fa-solid fa-house"></i></span>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <span><i class="fa-solid fa-pager"></i></span>
        <%= link_to "All Posts", all_posts_path %>
      </li>
      <li>
        <span><i class="fa-solid fa-cat"></i></span>
        <%= link_to "All Cats", all_cats_path %>
      </li>
      <li>
        <span><i class="fa-solid fa-map-location-dot"></i></span>
        <%= link_to "Cat Map", root_path %>
      </li>
      <hr>
      <h4>My Page</h4>
      <li>
        <span><i class="fa-solid fa-user"></i></span>
        <%= link_to "My Page", user_path(current_user) %>
      </li>
      <li>
        <span><i class="fa-solid fa-mobile-screen"></i></span>
        <%= link_to "My Posts", posts_path(current_user) %>
      </li>
      <li>
        <span><i class="fa-solid fa-paw"></i></span>
        <%= link_to "My Cats", user_cats_path(current_user) %>
      </li>
      <li>
        <span><i class="fa-solid fa-toolbox"></i></span>
        <%= link_to "My Items", user_items_path(current_user) %>
      </li>
      <!--<li>-->
      <!--  <span><i class="fa-solid fa-user-group"></i></span>-->
      <!--  %= link_to "Follower", path %>-->
      <!--</li>-->
      <!--<li>-->
      <!--  <span><i class="fa-solid fa-user-group"></i></span>-->
      <!--  %= link_to "Following", path%>-->
      <!--</li>-->
      <li>
        <span><i class="fa-solid fa-heart"></i></span>
        <%= link_to "Favorites", favorites_path %>
      </li>
      <li>
        <span><i class="fa-solid fa-bookmark"></i></span>
        <%= link_to "Bookmarks", bookmarks_path %>
      </li>
      <hr>
      <h4>System</h4>
      <li>
        <span><i class="fa-solid fa-envelope-open-text"></i></span>
        <%= link_to "Contact us", bookmarks_path %>
      </li>
      <% if user_signed_in? %>
        <li>
          <span><i class="fa-solid fa-right-from-bracket"></i></span>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul class="links">
      <hr>
      <h4>Main Menu</h4>
      <li>
        <span><i class="fa-solid fa-house"></i></span>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <span><i class="fa-solid fa-pager"></i></span>
        <%= link_to "All Posts", all_posts_path %>
      </li>
      <li>
        <span><i class="fa-solid fa-cat"></i></span>
        <%= link_to "All Cats", all_cats_path %>
      </li>
      <li>
        <span><i class="fa-solid fa-map-location-dot"></i></span>
        <%= link_to "Cat Map", root_path %>
      </li>
    </ul>
  <% end %>
</aside>